@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Open Sans',serif;
    width: 960px;
    margin: 0 auto;
    background-color: #111111;
}

table
{
    border-spacing: 5px;
}

th
{
    padding: 10px;
    color: #005a96;
}

a
{
    color: #005a96
}

a:hover
{
    color: white;
}

hr
{
    background-color: #005a96;
    color: #005a96;
}

.trans--grow
{
    -webkit-transition: width 1s ease-out;
    transition: width 1s  ease-out;
    width : 0%;
}

.grow
{
    width:100%;
}

.hr1
{
    margin-left:0;
}

hr
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px 0;
    border: none;
    background-color:#005a96;
    letter-spacing: 5px;
}

.focim
{
    color: white;
    text-align: center;
}

.reszlet
{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}